<div class="home-tabs-panel home-tabpanel" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="tab in dhmc.adminHomeTabs" ng-class="(tab['tabId'] === dhmc.selectedTabId) ? 'active' : ''">
            <a href="#{{ tab['tabName'] }}" ng-click="dhmc.showTab(tab['tabId'])">
                <span class="icon-bg" style="background-color: {{  tab['color']}}">
                </span>
                <span class="option-text">
                    {{ tab['tabName'] }}
                </span>
<!--                {{ adminHomeTab.getName() }}

                {% if not isHomeLocked and editionMode %}

                    {% if adminHomeTabConfig.isLocked() %}
                        <i class="fa fa-lock"></i>
                    {% else %}
                        &nbsp;
                        <i class="fa fa-times hide-hometab-btn pointer-hand text-muted"></i>
                    {% endif %}
                {% endif %}-->
            </a>
        </li>
        <li ng-repeat="tab in dhmc.userHomeTabs" ng-class="(tab['tabId'] === dhmc.selectedTabId) ? 'active' : ''">
            <a href="#{{ tab['tabName'] }}" ng-click="dhmc.showTab(tab['tabId'])">
                <span class="icon-bg" style="background-color: {{  tab['color']}}">
                </span>
                <span class="option-text">
                    {{ tab['tabName'] }}
                </span>
            </a>
        </li>
        <li ng-repeat="tab in dhmc.workspaceHomeTabs" ng-class="(tab['tabId'] === dhmc.selectedTabId) ? 'active' : ''">
            <a href="#{{ tab['tabName'] }}">
                <span class="icon-bg" style="background-color: {{  tab['color']}}">
                </span>
                <span class="option-text">
                    <span ng-click="dhmc.showTab(tab['tabId'])">
                        {{ tab['tabName'] }}
                    </span>
                    &nbsp;
                    <i class="fa fa-thumb-tack pointer-hand text-muted"
                       ng-click="dhmc.editionMode && dhmc.deletePinnedWorkspaceHomeTab(tab['tabId'], tab['configId'])"
                    >
                    </i>
                </span>
            </a>
        </li>
    </ul>
</div>