<div gridster="dhmc.gridsterOptions">
    <ul>
        <li gridster-item="widget"
            class="panel panel-default"
            ng-repeat="widget in dhmc.widgets"
            style="border-color: {{ widget['color'] }}"
        >
            <div class="panel-heading widget-heading" style="background-color: {{ widget['color'] }}">
                <h3 class="panel-title">
                    <span>
                       {{ widget['instanceName'] }}
                    </span>
                    <span class="pull-right" ng-if="!dhmc.isHomeLocked && dhmc.editionMode && !dhmc.selectedTabIsLocked && !widget['locked']">
                        <i class="fa fa-times close"
                           ng-if="widget['type'] === 'desktop'"
                           ng-click="dhmc.deleteUserWidget($event, widget['configId'])"
                        >
                        </i>
                        <i class="fa fa-times close"
                           ng-if="widget['type'] !== 'desktop'"
                           ng-click="dhmc.hideAdminWidget($event, widget['configId'])"
                        >
                        </i>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                {{ widget['row'] }}
                {{ widget['col'] }}
                {{ widget['sizeX'] }}
                {{ widget['sizeY'] }}
            </div>
        </li>
    </ul>
</div>