<div ng-repeat="widget in dhmc.widgets"
     class="grid-stack-item-content panel panel-default"
     style="border-color: {{ widget['color'] }}"
>
    <div class="panel-heading"
         style="background-color: {{ widget['color'] }}"
    >
        <h3 class="panel-title">

<!--            {% if not widgetHomeTabConfig.isLocked() and not isLockedHomeTab and not isHomeLocked and editionMode %}
                <span class="pull-right">
                    <i class="fa fa-times close {% if widgetHomeTabConfig.getType() == 'desktop' %}close-widget-btn{% else %}hide-widget-btn{% endif %}"
                       data-widget-hometab-config-id="{{ whtcId }}"
                    ></i>

                    {% if widgetHomeTabConfig.getType() == 'desktop' %}
                        <span class="close">&nbsp;</span>
                        <i class="fa fa-cog close edit-widget-btn"
                           data-widget-hometab-config-id="{{ whtcId }}"
                           data-widget-instance-id="{{ widgetInstance.getId() }}"
                           data-widget-display-config-id="{{ widgetDisplayConfig.getId() }}"
                        ></i>
                    {% endif %}

                    {% if not widgetInstance.isAdmin() and widget.isConfigurable() %}
                        <span class="close">&nbsp;</span>
                        <i class="fa fa-pencil close edit-widget-content-btn"
                           data-widget-instance-id="{{ widgetInstance.getId() }}"
                           data-widget-instance-name="{{ widgetInstance.getName() }}"
                        ></i>
                    {% endif %}
                </span>
            {% endif %}-->
            <span>
               {{ widget['instanceName'] }}
            </span>
        </h3>
    </div>
    <div class="panel-body">
        {{ widget['height'] }}
        {{ widget['width'] }}
        {{ widget['row'] }}
        {{ widget['column'] }}
    </div>
</div>